.no-articles-found button {
  background-color: var(--color-orange-500);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  padding: 18px 30px;
}

.no-articles-found-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #1f2121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.no-articles-found-icon i {
  font-size: 2.9rem;
  color: var(--color-neutral-500);
}
