.avatar-badge {
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-900);
  background-color: var(--color-orange-500);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.avatar-badge i {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.inner {
  transition: all 0.3s ease-in-out;
}
.team-card:hover .inner {
  border: 1px solid var(--color-orange-500);
}
.team-card:hover img {
  border-color: var(--color-orange-500);
}
