/* @font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-Black.woff") format("woff"),
    url("./assets/fonts/tajwal/Tajawal-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-Bold.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-Medium.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-Light.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src:
    url("./assets/fonts/tajwal/Tajawal-Regular.woff2") format("woff2"),
    url("./assets/fonts/tajwal/Tajawal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
