:root {
  --direction: rtl;
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-orange-50: oklch(96% 0.035 66);
  --color-orange-100: oklch(92% 0.06 66);
  --color-orange-200: oklch(88% 0.095 66);
  --color-orange-300: oklch(83.7% 0.128 66.29);
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-orange-700: oklch(55.3% 0.195 38.402);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(94.4% 0.003 247.858);
  --color-slate-200: oklch(90.4% 0.003 247.858);
  --color-slate-300: oklch(86.4% 0.003 247.858);
  --color-slate-400: oklch(82.4% 0.003 247.858);
  --color-slate-500: oklch(78.4% 0.003 247.858);
  --color-slate-600: oklch(74.4% 0.003 247.858);
  --color-slate-700: oklch(70.4% 0.003 247.858);
  --color-slate-800: oklch(66.4% 0.003 247.858);
  --color-slate-900: oklch(62.4% 0.003 247.858);
  --color-neutral-100: oklch(95.6% 0 0);
  --color-neutral-200: oklch(92.2% 0 0);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-black: oklch(18.258% 0.00665 17.607);
  --bg-main-color: #161616;
  --bg-secondary-color: #1f1a16;
  --btn-bg-color: #ed5c0e;
  --xs-font-size: 12px;
  --sm-font-size: 14px;
  --md-font-size: 16px;
  --lg-font-size: 20px;
  --xl-font-size: 24px;
  --xxl-font-size: 60px;
}

/* Classes */
.text-xs {
  font-size: var(--xs-font-size);
}
.text-sm {
  font-size: var(--sm-font-size);
}
.text-md {
  font-size: var(--md-font-size);
}
.text-lg {
  font-size: var(--lg-font-size);
}
.text-xl {
  font-size: var(--xl-font-size);
}
.text-xxl {
  font-size: var(--xxl-font-size);
}

/* Colores classes */
.bg-main-color {
  background-color: var(--bg-main-color);
}
.text-main-color {
  color: var(--color-orange-500);
}
.btn-bg-color {
  background-color: var(--btn-bg-color);
}
.color-neutral-400 {
  color: var(--color-neutral-400);
}
.color-neutral-700 {
  color: var(--color-neutral-700);
}
.color-neutral-900 {
  color: var(--color-neutral-900);
}
.color-white {
  color: white;
}
.color-red-400 {
  color: var(--color-red-400);
}
.color-orange-400 {
  color: var(--color-orange-400);
}
.color-yellow-500 {
  color: var(--color-yellow-500);
}
.color-blue-600 {
  color: var(--color-blue-600);
}
.color-slate-50 {
  color: var(--color-slate-50);
}

.bg-orange-400 {
  background-color: var(--color-orange-400);
}

.bg-orange-500 {
  background-color: var(--color-orange-500);
}

.bg-orange-600 {
  background-color: var(--color-orange-600);
}
.border-orange-100 {
  border: 0.2px solid var(--color-orange-100);
}
.border-orange-200 {
  border: 1px solid var(--color-orange-200);
}
.border-orange-300 {
  border: 1px solid var(--color-orange-300);
}
.border-orange-500 {
  border: 1px solid var(--color-orange-500);
}
.border-orange-400 {
  border: 1px solid var(--color-orange-400);
}

.border-neutral-400 {
  border: 1px solid var(--color-neutral-400);
}
.border-neutral-300 {
  border: 1px solid var(--color-neutral-300);
}
.border-neutral-200 {
  border: 1px solid var(--color-neutral-200);
}
.border-neutral-500 {
  border: 1px solid var(--color-neutral-500);
}
.border-neutral-600 {
  border: 1px solid var(--color-neutral-600);
}
.border-neutral-700 {
  border: 1px solid var(--color-neutral-700);
}
.border-neutral-700-thick {
  border: 3px solid var(--color-neutral-700);
}
.bg-secondary-color {
  background-color: var(--bg-secondary-color);
}

.badge-bg-color {
  background-color: color-mix(
    in oklab,
    var(--color-orange-500) 10%,
    transparent
  );
}

.bg-neutral-400 {
  background-color: var(--color-neutral-400);
}
.bg-neutral-500 {
  background-color: var(--color-neutral-500);
}
.bg-neutral-600 {
  background-color: var(--color-neutral-600);
}
.bg-neutral-700 {
  background-color: var(--color-neutral-700);
}
.bg-neutral-900 {
  background-color: var(--color-neutral-900);
}

.bg-md-black {
  background-color: var(--color-black);
}

.thick-border-color-orange-500 {
  width: 10px;
  background: linear-gradient(
    to bottom,
    var(--color-orange-300),
    var(--color-orange-500)
  );
}
