a.social-media-hover {
  color: var(--color-neutral-400);
  background-color: rgb(41, 39, 39);
  padding: 15px 13px;
  border: 0.1px solid var(--color-neutral-400);
  border-radius: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
a.social-media-hover i {
  font-size: 1.3rem;
}
a.social-media-hover:hover {
  background-color: var(--color-orange-500);
  transform: scale(1.2);
  border-color: transparent;
}
a.social-media-hover:hover i {
  color: #fff;
}
