nav.bg-main-color {
  background-color: var(--bg-main-color);
  /* padding: 10px 0; */
}

nav {
  color: white;
  border-bottom: 2px solid #1f2121;
}

nav a {
  color: var(--color-neutral-400);
  font-weight: 500;
  font-size: var(--sm-font-size);
  padding: 10px 18px;
}

nav .active {
  background-color: var(--color-orange-500);
  color: #fff;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
}

nav .nav-center-side {
  border: 1px solid #303131;
  border-radius: 50px;
  padding: 1.5px 2px;
}

nav .search-icon {
  color: var(--color-neutral-400);
  font-size: var(--md-font-size);
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .search-icon:hover {
  border-color: var(--color-neutral-700);
  color: var(--color-orange-500);
}
