.categories-bar button {
  text-decoration: none;
  color: var(--color-neutral-400);
  background-color: #1f2121;
  min-width: 100px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
.categories-bar button:hover {
  border: 1px solid var(--color-orange-400);
}

.categories-bar button.active {
  background-color: var(--color-orange-500);
  color: #fff;
}
