/* @import url("./styles/fonts.css"); */
@import url("./styles/variables.css");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

html {
  direction: var(--direction);
}
[dir="ltr"] {
  --direction: ltr;
}
body {
  font-family: "Tajawal", system-ui, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
