.view-container {
  border: 0.2px solid var(--color-neutral-700);
  border-radius: 15px;
  padding: 5px 8px;
  background-color: #1f2121;
  color: var(--color-orange-500);
  font-weight: 600;
}

.view-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--color-neutral-400);
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  padding: 15px 15px;
}

.view-container button.active {
  background-color: var(--color-orange-500);
  color: #fff;
}
