.avatar-badge {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-900);
  background-color: var(--color-orange-500);
  color: var(--color-orange-500);
}

.avatar-badge i {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
